@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Base css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    min-height: 100vh;
    background: #d3e7b2;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: #27412c;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row; 
    gap: 2vw;
}
.nav-list li {
    flex: 1;
}
.nav-list a {
    text-decoration: none; 
}

/* welcome user in top left not a logo*/
.logo {
    font-weight: bold;
    font-size: 18px;
}


/* drop down in top right for account */
.dropdown {
    position: relative;
}
.dropbtn {
    cursor: pointer;
    padding: 0 20px;
    display: inline-block;
}
/* hidden dropdown stuff until hovering over it */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #27412c;
    left: 0;
    top: 100%;
    min-width: 180px;
    box-shadow: 0px 8px 18px 0px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    padding: 6px 0;
    z-index: 100;
}
.dropdown-content li a {
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    display: block;
}
.dropdown-content li a:hover {
    background-color: #3f6c48;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Main page */

/* expenditure page buttons */

.expenditure-buttons-container {
    display: flex;
    align-items: center;
    padding: 30px 50px;
    color: white;
}

.home-buttons ul{
    align-items: center;    
}

.home-buttons li {
    display: flex;
}

.home-buttons button,
.home-buttons input,
.home-buttons select {
    padding: 10px 15px;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}


/* expenditure container layout */

.expenditures-container{
    padding: 15px;
    gap: 30px;
}

/* expenditure boxes */

.expenditure{
    display: inline-block;
    padding: 15px 15px 30px 15px; /*30 prevents bleeding into date */
    background-color: white;
    border: none;
    border-radius: 10px;
    position: relative;
    min-width: 250px;
    max-width: 400px;
    margin: 12px;
}

/* edit button ... forced into top right */
.expenditure-three-dots-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
    background: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.amount{
    font-size: 25px;
    font-weight: bold;
}

.type {
    font-size: 15px;
}

/* overflow-wrap so it doenst bleed outside box */
.description {
    font-size: 15px;
    overflow-wrap: break-word;
}

/* date forced to go in bottom right */
.date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

.expense-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* pop up  */

.add-item-popup {
    display: none;
    padding: 10px 15px;
    background-color: white;
    border: none;
    border-radius: 10px;
    margin: 12px;
    /* makes it go middle of screen */
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%);

    z-index: 9999; /* makes it go above everything else */
    width: 30%;
    height: 50%;
}

.input-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-list select{
    width: 100%;
}

.input-list input{
    width: 100%;
}


/* edit and delte buttons instead of three dots */

.expenditure-edit-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333;
    background: white;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.expenditure-delete-btn{
    position: absolute;
    top: 30px;
    right: 10px;
    color: #333;
    background: white;
    font-size: 10px;
    border: none;
    cursor: pointer;
}